.git
.gitignore
.gitverse
.vscode
.idea

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

log_ai_agent/site/node_modules
log_ai_agent/site/dist
log_ai_agent/site/.vite
log_ai_agent/.env
